[submodule "mb-guild/lib/forge-std"]
	path = mb-guild/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "staking/lib/forge-std"]
	path = staking/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "mbgold/lib/forge-std"]
	path = mbgold/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "mbg-staking/lib/forge-std"]
	path = mbg-staking/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
